div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
/*    border: 1px solid;    */
}

img {
    width: 1000px;
    border: 1px solid;
}

.caption {
    display: block;
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: circle;
}